<html>
    <head>
    <meta charset="utf-8">
    </head>
    <body>
        <h1>Book Registration</h1>
        <form action="/books" method="post">
            <input type="hidden" id="id" name="id" />

            <div>
                <label for="title"> Title: </label>
                <input type="text" id="title" name="title" placeholder="Enter the title of the book" />
            </div>
            <div>
                <label for="price"> Price: </label>
                <input type="text" id="price" name="price" placeholder="150.25" />
            </div>
            <div>
                <label for="description"> Description: </label>
                <textarea cols="20" rows="10" type="text" id="description" name="description" placeholder="Add a description..." />
            </div>

            <input type="submit" value="save" />
        </form>
    </body>
</html>